[Unit]
Description=Jenkins Continuous Integration Server
Wants=network-online.target
After=network-online.target

[Service]
User=new_jenkins_user
Group=new_jenkins_group
ExecStart=java -jar /opt/jenkins/jenkins.war --httpPort=8080
Restart=always
RestartSec=30
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=jenkins

[Install]
WantedBy=multi-user.target
